In [ ]:
print ("hello world")

hello world

1. ques 1

In [ ]:
for i in range (1,21,1):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

2. write a code for table of 5

In [ ]:
i = 5
for k in range ( 1,11,1):
  print(i , '*' , k , '=' , i*k)

5 * 1 = 5 5
5 * 2 = 10 10
5 * 3 = 15 15
5 * 4 = 20 20
5 * 5 = 25 25
5 * 6 = 30 30
5 * 7 = 35 35
5 * 8 = 40 40
5 * 9 = 45 45
5 * 10 = 50 50

3. write a code to print vowels

4. write a code to print area of rectangle

In [ ]:
l=5
b=10.9
print("area of rectangle",l*b)

area of rectangle 54.5

5. write a code to print area of circle

In [ ]:
r =8
print("area of circle", 3.14*r*r)

area of circle 200.96

6. write a code print your name , course name , email adress

In [ ]:
print ("name : aditya")
print ("college name : wctm ")
print ("mobile : 999000xxx9")
print ("email : michealdecenta@gmail.com")

name : aditya
college name : wctm
mobile : 999000xxx9
email : michealdecenta@gmail.com

7. write a code to print all non vowels in agiven string

8. write a code to display definition of python

In [ ]:
print ("What is Python Programming Language? ")
print ("Python is a high-level, versatile, and interpreted programming language known for its readability and ease of use.")

What is Python Programming Language?
Python GeeksPython is a high-level, versatile, and interpreted programming language known for its readability and ease of use.

9. write a code to display odd / even numbers

In [ ]:
y = 3
if(y%2==0):
  print(y ," is odd ")
else :
  print(y , " is odd ")

3  is odd

10. write a code to show the largest numbers? (user input parametersa, b)

In [ ]:
a = 5
b = 8
if (a>b):
  print("a is bixxer")
else:
  print("b is bixxer")

b is bixxer

THURSDAY 3 JULY 2025

terneary operators in python

In [ ]:
a,b = 10,20
min = a if a < b else b
print (min)

10

In [ ]:
a , b = 15 ,25
max = a if a > b else b
print(max)
min = a if a < b else b
print(min)

25
15

MEMEBERSHIP OPERATORS

In [ ]:
x = 20
y = 24
list = [10 , 20 , 30 , 40 , 50]
if (x not in list):
     print("x is not present in given list")
else:
     print("x is given in list")
if (y  in list):
     print("y is given is list")
else:
     print("y is not given in the list")

x is given in list
y is not given in the list

operators precedence in pytho

In [ ]:
expr = 10 + 20 * 30
print(expr)
name = "john"
age = -1
if name == "micheal" or name =="john" and age >= 2:
  print("hellow welcome,")
else:
  print ("good bye !")

610
good bye !

In [ ]:
expr = 10 + 20 * 30
print(expr)
name = "john"
age = 20
if name == "micheal" and name =="john" :
  print("hellow welcome,")
else:
  print ("good bye !")
if name == "micheal" or  name =="john" :
  print("hellow welcome,")
else:
  print ("good bye !")
if name == "micheal" or  name =="john" and age >= 21:
  print("hellow welcome,")
else:
  print ("good bye !")

610
good bye !
hellow welcome,
good bye !

write a difference between '=' and "=="

write a example of memebership operator

wriet a code of area of equilateral triangle ( area should be in float )

write the code for area of rhombus

wriete a code od comparong 3 numbers and displaying the largest midllle and smallest

write a cod eof making calculator with different cases of operators and with display the result

write a code of comparting 2 students with the details like name course and ccollege name , email id and phone numbers

write a code of listing the 10 students detail wiyh predefined tyhe details in the code

write a code of using if else statement with while loop with example and also the defination of all 3

write a code like social media id password whether to check th eid and password in this and the display there name name if the person is authentic