fint the largest of two numbers

In [13]:
x = int(input("enter first number: "))
y = int(input("enter second number: "))
if x>y:
  print(x, "is greater")
else:
  print(y, "is greater")

enter first number: 14
enter second number: 77
77 is greater

check a no. is positive , negative or zero

In [4]:


num = float(input("Enter a number: "))
if num > 0 :
  print("Positive number")
elif num == 0 :
  print("Zero")
else:
  print("Negative number")

Enter a number: 6
Positive number

swap two variables

print the multiplication number of a table

In [9]:
x = 8
for i in range (1,11,1):
  print(x*i)

8
16
24
32
40
48
56
64
72
80

sum of all digits in a number

In [19]:
num = input ("enter a number : ")
print("sum of all digits : " , sum(map(int , num )))

enter a number : 15
sum of all digits :  6

print revrese order of list of number

In [ ]:
list = [10 , 20 , 30 , 40 , 50]

check th vowels present in a string

In [2]:
string = input("enter the string")
vowels = "aeiouAEIOU"
print("vowels are : ")

for ch in string:
  if ch not in vowels:
    print(ch)

enter the string ia am a versatile animal
vowels are :


m


v
r
s
t
l

n
m
l